<!doctype html>
<html>
    <head>
        {% if title %}
            <title>SyncOMatic - {{title}}</title>
        {% else %}
            <title>SyncOMatic</title>
        {% endif %}
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
        <script src="{{url_for('static', filename='jquery-1.9.1.min.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='javascript.js')}}" type="text/javascript"></script>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div id="wrap">
            {% include "header.html" %}
            {% block content %}
            {% endblock %}
            {% if not g.user.is_authenticated() %}
                <div class="how_it_works_container"></div>
            {% endif %}
            {% include "footer.html" %}
        </div>
    </body>
</html>
